.header {
  position: relative;
  max-height: fit-content;
  margin: 0;
  padding: 10px 0 0;
  overflow-x: clip;
  overflow-y: visible;

  &::after {
    position: absolute;
    top: calc(100% - 1px);
    left: -20px;
    width: calc(100vw + 20px);
    height: 1px;
    background-color: $extra-color-1;
    content: "";
  }

  &--index {
    &::after {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 53px 0 0;
  }
}

.header__container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.header__logo-link {
  display: flex;
  margin-bottom: 14px;
  max-width: fit-content;
  padding-right: 40px;

  @media (min-width: $tablet-width) {
    transform: translateX(1px);
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    transform: translate(0);
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__logo-img {
  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}
